# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Django / Flask
*.log
local_settings.py
db.sqlite3
instance/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
.spyderproject
.spyproject

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Misc
__pypackages__/
cython_debug/
.ruff_cache/

# Project data
data/history.json
